:root {
    --cyan: rgb(14, 186, 205);
    --orange: rgb(252, 157, 69);
    --red: rgb(243, 82, 71);
    --navy: rgb(2, 115, 129);
    --brown: rgb(68, 11, 17);
    --white: rgb(250, 229, 229);
    --gradient1: rgba(255, 75, 31, 0.8);
    --gradient2: rgba(31, 221, 255, 0.5);
}
@font-face {
    font-family: TuT;
    src: url("tut.otf");
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "TuT", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background-color: gray;
}
html {
    scroll-behavior: smooth;
}

.navbar{
    position: fixed;
    height: 20vh;
    display: flex;
    margin-bottom: 1.5em;
    background-color: transparent;
}
.header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
}

.logo {
    /* flex: 1; */
    min-width: 150px;
    min-height: 90px;
    max-height: 300px;
    max-width: 180px;
    background-image: url(../fotos/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.navbar-menu{
      display: flex;
    justify-content: space-around;
  }
.navbar-menu a{
    font-size: 1.5rem;
    padding: 0 10px;
    flex: 1;
    color: var(--navy);
    transition: 0.2s linear;

}
.navbar-menu a:hover{
    color: var(--cyan) !important;
}
.menu-toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
  }
.menu-toggler span {
    display: block;
    height: 3px;
    background-color: rgb(238, 55, 86);
    margin: 6px 0;
    position: relative;
    transition: 0.3s linear;
  }

  #home {
    height: 100vh;
    min-height: 500px;
    background: url(../fotos/bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  }  
.content{
    margin-top: 40vh ;
    width: 100%;
    padding: 0 30px;
    text-align: center;
    line-height: 38px;
}
.cursor{
    display: inline-block;
}

.typewriter h2 {
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
    color: rgb(58, 71, 71);
    font-size: 1.6rem;
    animation: 
        typing 5s steps(50,start) infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
  to { width: 100% }
  }
