:root {
    --cyan: rgb(14, 186, 205);
    --orange: rgb(252, 157, 69);
    --red: rgb(243, 82, 71);
    --navy: rgb(2, 115, 129);
    --brown: rgb(68, 11, 17);
    --white: rgb(250, 229, 229);
    --gradient1: rgba(255, 75, 31, 0.8);
    --gradient2: rgba(31, 221, 255, 0.5);
}
@font-face {
    font-family: TuT;
    src: url("tut.otf");
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "TuT", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background-color: gray;
}
html {
    scroll-behavior: smooth;
}

.navbar{
    position: fixed;
    height: 20vh;
    display: flex;
    margin-bottom: 1.5em;
    background-color: brown;
}
.header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    /* flex: 1; */
    min-width: 150px;
    min-height: 90px;
    max-height: 300px;
    max-width: 180px;
    background-image: url(../fotos/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .navbar-menu{
    display: flex;
    justify-content: space-around;
  }
.navbar-menu a{
    font-size: 1.5rem;
    flex: 1;
    color: var(--navy);
    transition: 0.2s linear;

}
.navbar-menu a:hover{
    color: var(--cyan) !important;
}
.menu-toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
  }
.menu-toggler span {
    display: block;
    height: 3px;
    background-color: rgb(238, 55, 86);
    margin: 6px 0;
    position: relative;
    transition: 0.3s linear;
  }

.content{
    padding: 2em;
}
